doctype html
html
  head
    title metapp

body
  header.main
    block header
      div header
  div.main
    block content

  footer.main
    block footer
      div footer

  script(src='/js/main.js')
