section#home.page
  ul
    li.slackomatic
      a(target='slackomatic')
        img(src='/img/menu/slackomatic.png' alt='Slackomatic' title='Slackomatic')

    li.screeninvader
      a(target='screeninvader')
        img(src='/img/menu/screeninvader.png' alt='ScreenInvader' title='ScreenInvader')

    li.metalab
      a(href='https://metalab.at' target='metalab')
        img(src='/img/menu/metalab.png' alt='Metalab' title='Metalab')

    li.metalabwiki
      a(href='https://metalab.at/wiki' target='metalab-wiki')
        img(src='/img/menu/metalab-wiki.png' alt='Metalab Wiki' title='Metalab Wiki')
